/Datasets
/ium_GAM.ipynb
/ium_GAM.py
/ium_lime.ipynb
/ium_lime.py
/ium_linear.html
/ium_linear.ipynb
/ium_linear.py
/ium_outliers.py
/ium_tree.ipynb
/ium_tree.py
/ium_conterfactual.ipynb
/ium_dice.py
/ium_varimportance.py
/literatury
/obrazy
/tree.pdf
/wykład.md
/zagadnienia